    *{
        margin: 0;
        padding: 0;
        font-family: 'Exo 2', sans-serif; 
    }

    h1 {
        font-size: 3rem;
        padding: 10px;
    }

    .log-in-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        background-color: #f7f7f7;
        width: fit-content;
        padding: 20px;
        border-radius: 10px;
    }

    .username input[type='text'],
    .password input[type='password'] {
    width: 10%;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #FF6B6B;
}

    body {
        background-color: #1A535C;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vh;
        text-align: center;
    }

    /*container for content, score and controls*/
    .container {
        background-color: #FFE66D;
        width: fit-content;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*question container*/
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 40px;
        padding: 10px;
        margin: auto;
    }

    .score-area, .controls {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    }

    /*button style*/
    .btn {
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
        margin: 6px;
    }

    .btn-restart:hover,
    .btn-start-game:hover {
        cursor: pointer;
        background-color: #4473d8;
    }

    .btn-submit:hover {
        cursor: pointer;
        background-color: #00F5D4;
    }

    .btn-option:hover {
        cursor: pointer;
        background-color: #9B5DE5;
    }

    #question-text {
        padding-bottom: 10px;
    }


    @media screen and (max-width: 480px) {
        .container {
            width: 90%;
            height: auto;
            max-width: 90%;
            padding: 20%;
        }

        .content {
            font-size: 1.5rem;
        }

        .score-area, .controls {
            flex-direction: column;
            margin-top: 10px;
        }
        
    }

    @media screen and (max-width: 768px) {
        .container {
            width: 90%;
            height: auto;
            max-width: 90%;
            padding: 20%;
        }

    }

    /*styles for form*/
    form {
        width: 100%;
        margin-top: 25px;
    }

    .form-elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    textarea {
        height: 200px;
        border-radius: 5px;
        padding: 10px;
        border: 2px solid #9B5DE5;
        width: 100%;
    }

    #sendBtn {
        background-color: #00F5D4;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 12px;
        cursor: pointer;
        width: 100%;
    }

    #sendBtn:hover {
        background-color: #009600;
    }

    a {
        color: #9B5DE5;
        text-decoration: underline;
        margin-top: 10px;
    }

    a:hover {
        text-decoration: underline;
    }

