    *{
        margin: 0;
        padding: 0;
        font-family: 'Exo 2', sans-serif; 
    }

    h1 {
        font-size: 3rem;
        padding: 10px;
    }

    .username input[type='text'],
    .password input[type='password'] {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #9B5DE5;
}

    body {
        background-color: #F15BB5;
        height: 100vh;
        width: 100vh;
        /*display: flex;
        align-items: center;
        justify-content: center;*/
    }

    /*container for content, score and controls*/
    .container {
        background-color: #FEE440;
        width: 90vw;
        height: auto;
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*question container*/
    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        font-size: 2.4rem;
        padding: 10px;
    }

    .score-area, .controls {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 30px;
    }

    /*button style*/
    .btn {
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
        margin: 6px;
    }

    .btn-restart:hover {
        cursor: pointer;
        background-color: #4473d8;
    }

    .btn-submit:hover {
        cursor: pointer;
        background-color: #00F5D4;
    }

    .btn-option:hover {
        cursor: grab;
        background-color: #9B5DE5;
    }

    #question-text {
        padding-bottom: 10px;
    }


    @media screen and (max-width: 480px) {
        .container {
            width: 90%;
            height: auto;
            max-width: 90%;
            padding: 20%;
        }

        .content {
            font-size: 1.5rem;
        }

        .score-area, .controls {
            flex-direction: column;
            margin-top: 10px;
        }
        
    }

    @media screen and (max-width: 768px) {
        .container {
            width: 90%;
            height: auto;
            max-width: 90%;
            padding: 20%;
        }

    }

    /*styles for form*/
    form {
        width: 100%;
        margin-top: 25px;
    }

    .form-elem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    textarea {
        height: 200px;
        border-radius: 5px;
        padding: 10px;
        border: 2px solid #9B5DE5;
    }

    #sendBtn {
        background-color: #00F5D4;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 12px;
        cursor: pointer;
    }

    #sendBtn:hover {
        background-color: #009600;
    }

    a {
        color: #9B5DE5;
        text-decoration: underline;
        margin-top: 10px;
    }

    a:hover {
        text-decoration: underline;
    }

